/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 20px;
  padding: 50px;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */

#overlay {
  position: absolute;
  text-align: centre;
  color: white;
}
div {
  width: 700px;
  border: 15px; grey;
  padding-left: 50px;
  padding-right: 50px;
}


body {
  margin: 20px;
  padding: 50px;
  font-weight: lighter;
  font-family: "Helvetica", sans-serif;
}
h1  {
  text-align: center;
  font: "Helvetica", sans-serif;
  background-image: <img src="./images/apple-pie.jpg" alt="decorative image" , height="400," width="850px" />;
}
h2  {
  text-align: left;

}
ul {
  width: inherit;
}
ol {
  width: 700px;
}
h4 {
  text-align: center;
}
h5 {
  text-align: left;
}
